extends layuot

block title
    title Main Page
block content
    .page
        .page_slider
            .page_slider-info
                .page_slider-info-ifo
                    .page_slider-info-ifo-big информация
                    .page_slider-info-ifo-smoll доп.информация
                a(href="#").page_slider-info-video
                    .page_slider-info-video-text Посмотреть видео
                    img(src="img/MainPage/video.png").page_slider-info-video-video
            .page_slider-slider
                .page_slider-img
                    .page_slider-img-big
                        ul.page_bxslider
                            li.page_bxslider-li
                                img(src="img/MainPage/01.png").page_bxslider-li-img
                                .page_bxslider-li-text
                                    .page_bxslider-li-text-p1 Артикуль #464836
                                    .page_bxslider-li-text-p2
                                        .page_bxslider-li-text-p2-1 Краткий обзор
                                        .page_bxslider-li-text-p2-2
                                            ul.page_bxslider-li-text-p2-2-ul
                                                li.page_bxslider-li-text-p2-2-ul-li
                                                    .page_bxslider-li-text-p2-2-ul-li-text1 Стоймость:
                                                    .page_bxslider-li-text-p2-2-ul-li-text2 $1,299,900
                                                li.page_bxslider-li-text-p2-2-ul-li
                                                    .page_bxslider-li-text-p2-2-ul-li-text1 Класс автомобиля:
                                                    .page_bxslider-li-text-p2-2-ul-li-text2 Кабриолет
                                                li.page_bxslider-li-text-p2-2-ul-li
                                                    .page_bxslider-li-text-p2-2-ul-li-text1 Тип КПП:
                                                    .page_bxslider-li-text-p2-2-ul-li-text2 Автомат
                                                li.page_bxslider-li-text-p2-2-ul-li
                                                    .page_bxslider-li-text-p2-2-ul-li-text1 Тип двигателя:
                                                    .page_bxslider-li-text-p2-2-ul-li-text2 Бензин
                                    .page_date
                                            .page_date-text
                                                .page_date-text-h Характеристики автомобиля
                                                .page_date-data-h Зарезервировать
                                            .page_date-data
                                                .page_date-text-base Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus, tortor eu rutrum vehicula, nulla nisi ullamcorper metus, quis condimentum turpis diam vitae leo. Donec mollis diam eu justo faucibus, at lacinia lectus tincidunt. Nunc elementum, eros at blandit sagittis, sapien ipsum aliquam neque, quis bibendum massa quam ac urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer tincidunt libero quis purus pellentesque interdum. Maecenas scelerisque accumsan ornare. <p></p><br> Praesent gravida magna nec mi hendrerit suscipit. Curabitur egestas ante eget magna auctor ornare Ut ut dictum odio, a luctus turpis. Maecenas lacus est, varius in rutrum eget, gravida at enim. Sed fermentum id ligula eu convallis. In venenatis lectus quis magna lobortis volutpat. Nam auctor ornare urna, efficitur consequat libero iaculis non. Duis pulvinar augue nec pellentesque blandit. Fusce dictum rutrum nibh, eu vulputate odio condimentum in. In hac habitasse platea
                                                .page_date-data-block
                                                a.page_date-data-button отправить запрос
                                            .page_date-setting
                                                .page_date-setting-h Особенности
                                                .page_date-setting-setting
                                                    ul.page_date-setting-setting-ul
                                                        li.page_date-setting-setting-li
                                                            .page_date-setting-setting-li-div
                                                                img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                                a(href="#").page_date-setting-setting-li-a Преимущество 1
                                                            .page_date-setting-setting-li-div
                                                                img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                                a(href="#").page_date-setting-setting-li-a Преимущество 2
                                                        li.page_date-setting-setting-li
                                                            .page_date-setting-setting-li-div
                                                                img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                                a(href="#").page_date-setting-setting-li-a Dining Room
                                                            .page_date-setting-setting-li-div
                                                                img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                                a(href="#").page_date-setting-setting-li-a Den
                                                        li.page_date-setting-setting-li
                                                            .page_date-setting-setting-li-div
                                                                img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                                a(href="#").page_date-setting-setting-li-a Outdoor Pool
                                                            .page_date-setting-setting-li-div
                                                                img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                                a(href="#").page_date-setting-setting-li-a Indoor Gym
                                                        li.page_date-setting-setting-li
                                                            .page_date-setting-setting-li-div
                                                                img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                                a(href="#").page_date-setting-setting-li-a Cabel TV
                                                            .page_date-setting-setting-li-div
                                                                img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                                a(href="#").page_date-setting-setting-li-a Internet
                                                        li.page_date-setting-setting-li
                                                            .page_date-setting-setting-li-div
                                                                img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                                a(href="#").page_date-setting-setting-li-a Balcony
                                                            .page_date-setting-setting-li-div
                                                                img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                                a(href="#").page_date-setting-setting-li-a Outdoor Fireplace
                                                        li.page_date-setting-setting-li
                                                            .page_date-setting-setting-li-div
                                                                img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                                a(href="#").page_date-setting-setting-li-a Outdoor BBQ
                                                            .page_date-setting-setting-li-div
                                                                img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                                a(href="#").page_date-setting-setting-li-a Roof Terrace

                            li.container_bxslider-li
                                img(src="img/MainPage/02.png").page_bxslider-li-img
                                .page_bxslider-li-text
                                    .page_bxslider-li-text-p1 Артикуль #00000
                                    .page_bxslider-li-text-p2
                                        .page_bxslider-li-text-p2-1 Краткий обзор
                                        .page_bxslider-li-text-p2-2
                                            ul.page_bxslider-li-text-p2-2-ul
                                                li.page_bxslider-li-text-p2-2-ul-li
                                                    .page_bxslider-li-text-p2-2-ul-li-text1 Стоймость:
                                                    .page_bxslider-li-text-p2-2-ul-li-text2 $1,111,111
                                                li.page_bxslider-li-text-p2-2-ul-li
                                                    .page_bxslider-li-text-p2-2-ul-li-text1 Класс автомобиля:
                                                    .page_bxslider-li-text-p2-2-ul-li-text2 Минивен
                                                li.page_bxslider-li-text-p2-2-ul-li
                                                    .page_bxslider-li-text-p2-2-ul-li-text1 Тип КПП:
                                                    .page_bxslider-li-text-p2-2-ul-li-text2 Механика
                                                li.page_bxslider-li-text-p2-2-ul-li
                                                    .page_bxslider-li-text-p2-2-ul-li-text1 Тип двигателя:
                                                    .page_bxslider-li-text-p2-2-ul-li-text2 Дизель
                                    .page_date
                                        .page_date-text
                                            .page_date-text-h Характеристики автомобиля1
                                            .page_date-data-h Зарезервировать
                                        .page_date-data
                                            .page_date-text-base Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus, tortor eu rutrum vehicula, nulla nisi ullamcorper metus, quis condimentum turpis diam vitae leo. Donec mollis diam eu justo faucibus, at lacinia lectus tincidunt. Nunc elementum, eros at blandit sagittis, sapien ipsum aliquam neque, quis bibendum massa quam ac urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer tincidunt libero quis purus pellentesque interdum. Maecenas scelerisque accumsan ornare. <p></p><br> Praesent gravida magna nec mi hendrerit suscipit. Curabitur egestas ante eget magna auctor ornare Ut ut dictum odio, a luctus turpis. Maecenas lacus est, varius in rutrum eget, gravida at enim. Sed fermentum id ligula eu convallis. In venenatis lectus quis magna lobortis volutpat. Nam auctor ornare urna, efficitur consequat libero iaculis non. Duis pulvinar augue nec pellentesque blandit. Fusce dictum rutrum nibh, eu vulputate odio condimentum in. In hac habitasse platea
                                            .page_date-data-block
                                            a.page_date-data-button отправить запрос
                                        .page_date-setting
                                            .page_date-setting-h Особенности
                                            .page_date-setting-setting
                                                ul.page_date-setting-setting-ul
                                                    li.page_date-setting-setting-li
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Преимущество 1
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Преимущество 2
                                                    li.page_date-setting-setting-li
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Dining Room
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Den
                                                    li.page_date-setting-setting-li
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Outdoor Pool
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Indoor Gym
                                                    li.page_date-setting-setting-li
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Cabel TV
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Internet
                                                    li.page_date-setting-setting-li
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Balcony
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Outdoor Fireplace
                                                    li.page_date-setting-setting-li
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Outdoor BBQ
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Roof Terrace
                            li.container_bxslider-li
                                img(src="img/MainPage/03.png").page_bxslider-li-img
                                .page_bxslider-li-text
                                    .page_bxslider-li-text-p1 Артикуль #111111
                                    .page_bxslider-li-text-p2
                                        .page_bxslider-li-text-p2-1 Краткий обзор
                                        .page_bxslider-li-text-p2-2
                                            ul.page_bxslider-li-text-p2-2-ul
                                                li.page_bxslider-li-text-p2-2-ul-li
                                                    .page_bxslider-li-text-p2-2-ul-li-text1 Стоймость:
                                                    .page_bxslider-li-text-p2-2-ul-li-text2 $3,333,333
                                                li.page_bxslider-li-text-p2-2-ul-li
                                                    .page_bxslider-li-text-p2-2-ul-li-text1 Класс автомобиля:
                                                    .page_bxslider-li-text-p2-2-ul-li-text2 Джип
                                                li.page_bxslider-li-text-p2-2-ul-li
                                                    .page_bxslider-li-text-p2-2-ul-li-text1 Тип КПП:
                                                    .page_bxslider-li-text-p2-2-ul-li-text2 Автомат
                                                li.page_bxslider-li-text-p2-2-ul-li
                                                    .page_bxslider-li-text-p2-2-ul-li-text1 Тип двигателя:
                                                    .page_bxslider-li-text-p2-2-ul-li-text2 Газ
                                    .page_date
                                        .page_date-text
                                            .page_date-text-h Характеристики автомобиля2
                                            .page_date-data-h Зарезервировать
                                        .page_date-data
                                            .page_date-text-base Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus, tortor eu rutrum vehicula, nulla nisi ullamcorper metus, quis condimentum turpis diam vitae leo. Donec mollis diam eu justo faucibus, at lacinia lectus tincidunt. Nunc elementum, eros at blandit sagittis, sapien ipsum aliquam neque, quis bibendum massa quam ac urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer tincidunt libero quis purus pellentesque interdum. Maecenas scelerisque accumsan ornare. <p></p><br> Praesent gravida magna nec mi hendrerit suscipit. Curabitur egestas ante eget magna auctor ornare Ut ut dictum odio, a luctus turpis. Maecenas lacus est, varius in rutrum eget, gravida at enim. Sed fermentum id ligula eu convallis. In venenatis lectus quis magna lobortis volutpat. Nam auctor ornare urna, efficitur consequat libero iaculis non. Duis pulvinar augue nec pellentesque blandit. Fusce dictum rutrum nibh, eu vulputate odio condimentum in. In hac habitasse platea
                                            .page_date-data-block
                                            a.page_date-data-button отправить запрос
                                        .page_date-setting
                                            .page_date-setting-h Особенности
                                            .page_date-setting-setting
                                                ul.page_date-setting-setting-ul
                                                    li.page_date-setting-setting-li
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Преимущество 1
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Преимущество 2
                                                    li.page_date-setting-setting-li
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Dining Room
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Den
                                                    li.page_date-setting-setting-li
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Outdoor Pool
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Indoor Gym
                                                    li.page_date-setting-setting-li
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Cabel TV
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Internet
                                                    li.page_date-setting-setting-li
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Balcony
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Outdoor Fireplace
                                                    li.page_date-setting-setting-li
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Outdoor BBQ
                                                        .page_date-setting-setting-li-div
                                                            img(src="img/MainPage/treo.png").page_date-setting-setting-img
                                                            a(href="#").page_date-setting-setting-li-a Roof Terrace
                    .page_slider-img-smoll
                        .page_slider-img-next
                            img(src="img/MainPage/next2.png").page_slider-img-next-next
                        div#container_bxpager
                            a(data-slide-index="0" href="#").container_bxpager-a
                                    img(src="img/MainPage/01.png").container_bxpager-a-img
                            a(data-slide-index="1" href="#").container_bxpager-a
                                    img(src="img/MainPage/02.png").container_bxpager-a-img
                            a(data-slide-index="2" href="#").container_bxpager-a
                                    img(src="img/MainPage/03.png").container_bxpager-a-img
                        .page_slider-img-prev
                            img(src="img/MainPage/prev2.png").page_slider-img-prev-prev

        .page_social
            .page_social-base
                    .page_social-text Поделиься этой страницей
                    .page_social-wrap
                        a.page_social-a1-1
                            img(src="img/MainPage/f.png").page_social-a-img2
                        a.page_social-a1-2
                            img(src="img/MainPage/t.png").page_social-a-img2
                        a.page_social-a1-3
                            img(src="img/MainPage/g.png").page_social-a-img2
                        a.page_social-a1-4
                            img(src="img/MainPage/p.png").page_social-a-img2
        .page_magazin
            .page_magazin-h Похожие автомобили
            .page_magazin-block
                .page_magazin-block-div
                    img(src="img/MainPage/04.png").page_magazin-block-div-w-img
                    .page_magazin-block-div-w
                        .page_magazin-block-div-w-h Автомобиль мерседес
                        .page_magazin-block-div-w-text Aenean pharetra dolor metus, nec consectetur nunc aliquam in. Suspendisse lorem dui, fringilla vitae tortor non, consectetur porttitor sem. Donec nec interdum odio, in hendrerit diam. Nulla dapibus accumsan odio
                    .page_magazin-block-div-w
                        .page_magazin-block-div-w-prise Аренда &euro; &bull; 899,990
                        .page_magazin-block-div-w-sose К/ВАТ
                .page_magazin-block-div
                    img(src="img/MainPage/05.png").page_magazin-block-div-w-img
                    .page_magazin-block-div-w
                        .page_magazin-block-div-w-h sunnyside colifornia home
                        .page_magazin-block-div-w-text Aenean pharetra dolor metus, nec consectetur nunc aliquam in. Suspendisse lorem dui, fringilla vitae tortor non, consectetur porttitor sem. Donec nec interdum odio, in hendrerit diam. Nulla dapibus accumsan odio
                    .page_magazin-block-div-w
                        .page_magazin-block-div-w-prise Продажа &euro; &bull; 699,900
                        .page_magazin-block-div-w-sose 4800 SQ.FT.
                .page_magazin-block-div
                    img(src="img/MainPage/06.png").page_magazin-block-div-w-img
                    .page_magazin-block-div-w
                        .page_magazin-block-div-w-h Modern lyxery home
                        .page_magazin-block-div-w-text Aenean pharetra dolor metus, nec consectetur nunc aliquam in. Suspendisse lorem dui, fringilla vitae tortor non, consectetur porttitor sem. Donec nec interdum odio, in hendrerit diam. Nulla dapibus accumsan odio
                    .page_magazin-block-div-w
                        .page_magazin-block-div-w-prise SOLD &euro; &bull; 1,299.900
                        .page_magazin-block-div-w-sose SQ.FT.
    .page_form
        .page_form-block
            .page_form-block-1 Понравился автомобиль
            .page_form-block-2 Обратная связь
        .page_form_input
            input(placeholder="Имя").page_form_input-input
            input(placeholder="Email").page_form_input-input
            input(placeholder="телефон").page_form_input-input1
        textarea.page_form-textarea
        a.page_form-buttom
            .page_form-buttom-text Отправить
        .page_form-text Поля отмеченные *-обязательны

        a.page_form-box
            img(src="img/MainPage/r.png").page_form-box-img














