footer
    .footer_wrap
        .footer_wrap-text-wrap
            img(src="img/footer/footerlogo.png").footer_wrap-text
            a.page_form-box1
                img(src="img/MainPage/r.png").page_form-box-img
        .footer_wrap-main
            .footer_wrap-main-wrap
                .footer_wrap-main1 &copy 2015 quntessential development group
                .footer_wrap-main1
                    ul.footer_wrap-main2-ul
                        li.footer_wrap-main2-li
                           a(href="#").footer_wrap-main2-a main page
                        li.footer_wrap-main2-li /
                        li.footer_wrap-main2-li
                            a(href="#").footer_wrap-main2-a properties
                        li.footer_wrap-main2-li /
                        li.footer_wrap-main2-li
                            a(href="#").footer_wrap-main2-a cars
                        li.footer_wrap-main2-li /
                        li.footer_wrap-main2-li
                            a(href="#").footer_wrap-main2-a yachts
                        li.footer_wrap-main2-li /
                        li.footer_wrap-main2-li
                            a(href="#").footer_wrap-main2-a vip-consierge
                        li.footer_wrap-main2-li /
                        li.footer_wrap-main2-li
                            a(href="#").footer_wrap-main2-a contacts

                .footer_wrap-main1
                        img(src='img/footer/footertel.png').footer_wrap-main4-img
                        .footer_wrap-main4-text +0(132)456-78-90
                        img(src='img/footer/footermail.png').footer_wrap-main4-img
                        .footer_wrap-main4-text info@qdg.com
                .footer_wrap-main1
                        .footer_wrap-main4-text follow us:
                        a(href="#").footer_wrap-main4-text-a
                            img(src='img/footer/fottertwetter.png').footer_wrap-main4-img2
                        a(href="#").footer_wrap-main4-text-a
                            img(src='img/footer/fotterfb.png').footer_wrap-main4-img2
