.header
    .header_wraper
        .header_wraper-blac
        .header_wraper-main
           .header_menu
               .header_menu-main
                   ul.menu_ul1
                       li.menu_li1
                           a(href="#").menu_a Propertie
                       li.menu_li1
                           a(href="#").menu_a luxury cars
                       li.menu_li1
                           a(href="#").menu_a yachts
                   a(href="#").logo-a
                      img(src="img/header/logo.png").logo
                   ul.menu_ul2
                       li.menu_li2
                           a(href="#").menu_a vip consierge
                       li.menu_li2
                           a(href="#").menu_a contacts
                       li.menu_li2
                           a(href="#").menu_a contacts
               .header_menu-contact
                   .header_menu-contact-tel +0(132)456-78-90
                   a(href="#").logo2_wrapper
                        img(src="img/header/logo-2.png").header_menu-contact-logotext
                   .header_menu-contact-tel-mail info@qdg.com
           .header_modern
               .header_modern-center

                   ul.header_modern-breabcrumbs
                       li.header_modern-breabcrumbs-li
                           a(href="#").header_modern-breabcrumbs-li-a
                               img(src="img/header/headerhome.png").header_modern-breabcrumbs-li-img
                       li.header_modern-breabcrumbs-li /
                       li.header_modern-breabcrumbs-li
                           a(href="#").header_modern-breabcrumbs-li-a properties
                       li.header_modern-breabcrumbs-li /
                       li.header_modern-breabcrumbs-li
                           a(href="#").header_modern-breabcrumbs-li-a modern luxury home
                   .header_modern-moder-wraper
                       .header_modern-modern-blac
                       .header_modern-modern modern luxury home
                   .header_modern-text-wraper
                       .header_modern-text a stunning modern day home
           .header_menu-lang-main
               a(href="#").header_menu-lang Ru
               a.header_menu-lang /
               a(href="#").header_menu-lang Eng




