.page_wraper
            .page_form
                .page_form-block
                    .page_form-block-1 Понравился автомобиль
                    .page_form-block-2 Обратная связь
                .page_form_input
                    input(placeholder="Имя").page_form_input-input
                    input(placeholder="Email").page_form_input-input
                    input(placeholder="телефон").page_form_input-input1
                textarea.page_form-textarea
                a.page_form-buttom
                    .page_form-buttom-text Отправить
                .page_form-text Поля отмеченные *-обязательны


